@model CIMOB_IPS.Models.ViewModels.InterviewViewModel

<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />
<script src="@Url.Content("~/js/site.js")"></script>

<script>
    function TDate() {
        var UserDate = document.getElementById("interview-date").value;
        var ToDate = new Date();

        if (new Date(UserDate).getTime() <= ToDate.getTime()) {
            document.getElementById("date-error-message").style.display = "inline-block";
            document.getElementById("submit-interview").disabled = true;
            return false;
        }
        document.getElementById("date-error-message").style.display = "none";
        document.getElementById("submit-interview").disabled = false;
        return true;
    }

    function validateDate() {
        if (document.getElementById("date-error-message").style.display == "inline-block" || document.getElementById("date-error-message").style.display == "block")
            event.preventDefault();
    }
</script>
<div>
    <img src="~/images/icons/error.png" id="closeButton" style="width:1.85vw;height:1.85vw;" onclick="javacript: closePopUps();"/>
    <div id="interviewPop">
        <form asp-action="ScheduleInterview" method="post" id="form-application" class="schedule-interview-form">
            <div style="margin-left:2.5%;padding:1%;">
                <table style="margin-left:9%;padding-bottom:2%;" class="program-form">
                    @Html.HiddenFor(model => model.IdInterview)
                    @Html.HiddenFor(model => model.IdApplication)
                    <tr> <td><b asp-for="Date"> Data</b></td></tr>
                    <tr> <td><input asp-for="Date" id="interview-date" type="date" onchange="TDate()" style="width:100%;" /></td></tr>
                    <tr> <td><span asp-validation-for="Date" class="error-message" id="date-error-message" style="display:inline-block">Data tem de ser posterior à atual.</span></td></tr>

                    <tr> <td><b asp-for="Hours"> Hora</b></td></tr>
                    <tr> <td><input asp-for="Hours" type="time" style="width:100%;" /></td></tr>

                    <tr> <td><input type="submit" value="Submeter" id="submit-interview" disabled onsubmit="validateDate();" style="width:100%;" /></td></tr>
                </table>
            </div>
        </form>
    </div>
</div>