@model PaginatedList<CIMOB_IPS.Models.Application>
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p class="page-title">Candidaturas Submetidas</p>

    <form id="search-application">
        <input type="search" name="search_by" placeholder="Procurar.." value="@ViewData["search-by"]"/>
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

<div class="main-container-submitted-applications" style="padding:1%;padding-left:2%;">
    @if (Model.Count > 0)
    {
    <table style="margin: 1% auto;">
        <thead>
            <tr>
                <th style="width:8em;">
                    @Html.DisplayNameFor(model => model.First().IdStudentNavigation.StudentNum)
                </th>
                <th>
                    Nome
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ApplicationDate)
                </th>
                <th>

                </th>


                @*<th>
                    @Html.DisplayNameFor(model => model.First().IdStateNavigation.Description)
                </th>*@

                @*<th>
                    @Html.DisplayNameFor(model => model.First().FinalEvaluation)
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var strName = "";
                var arrNames = item.IdStudentNavigation.Name.Split(' ');
                string strFirstName = arrNames[0];
                string strLastName = arrNames[arrNames.Length - 1];
                if (arrNames.Length > 1)
                {
                    strName = strFirstName + " " + strLastName;
                }
                else
                {
                    strName = strFirstName;
                }

                <tr>
                    <td>
                        @Html.DisplayFor(model => item.IdStudentNavigation.StudentNum)
                    </td>
                    <td>
                        @strName
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ApplicationDate)
                    </td>
                    
                    <td>
                        <button  onclick="location.href='@Url.Action("Details", "Application", new { appId = item.IdApplication })'" class="evaluate-application">Detalhes</button>
                        <button onclick="location.href='@Url.Action("Evaluate", "Application", new { appId = item.IdApplication })'" class="evaluate-application">Avaliar Candidatura</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        @*Página @Model.PageIndex de @Model.TotalPages
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        @if (Model.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-pagePending="@(Model.PageIndex - 1)" class='@prevDisabled'>Anterior</a>
        }
        &nbsp;&nbsp;&nbsp;
        @if (Model.HasNextPage)
        {
            <a asp-action="Index" asp-route-pagePending="@(Model.PageIndex + 1)" class='@nextDisabled'>Seguinte</a>
        }*@

    }
    else
    {
        <span>Nenhuma candidatura encontrada</span>
    }

</div>