@model PaginatedList<CIMOB_IPS.Models.Application>
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />

<p class="page-title">Candidaturas Submetidas</p>
@foreach (var item in Model)
{
    <div class="main-application-container" style="padding:1%;">
        @{
            var strName = "";
            var arrNames = item.IdStudentNavigation.Name.Split(' ');
            string strFirstName = arrNames[0];
            string strLastName = arrNames[arrNames.Length - 1];
            if (arrNames.Length > 1)
            {
                strName = strFirstName + " " + strLastName;
            }
            else
            {
                strName = strFirstName;
            }
        }

        <p>
            <b>@Html.DisplayNameFor(modelItem => item.IdStudentNavigation.StudentNum)</b>
            @Html.DisplayFor(modelItem => item.IdStudentNavigation.StudentNum)
        </p>

        <p>
            <b>@Html.DisplayNameFor(modelItem => item.IdStudentNavigation.Name)</b>
            @strName
        </p>

        <p>
            <b>@Html.DisplayNameFor(modelItem => item.ApplicationDate)</b>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </p>

        <p>
            <b>@Html.DisplayNameFor(modelItem => item.IdStateNavigation.Description)</b>
            @Html.DisplayFor(modelItem => item.IdStateNavigation.Description)
        </p>

        @if(item.IdStateNavigation.Description != "Em Avaliação")
        { 
            <p>
                <b>@Html.DisplayNameFor(modelItem => item.FinalEvaluation)</b>
                @Html.DisplayFor(modelItem => item.FinalEvaluation)
            </p>
        }
            
        @*<a asp-controller="Application" asp-action="Details"  asp-route-appId=@item.IdApplication>Detalhes</a>*@
        <button asp-controller="Application" asp-action="Evaluate" asp-route-appId=@item.IdApplication>Avaliar Candidatura</button>

    </div>
            }






@*<br />
    Página @Model.PageIndex de @Model.TotalPages
    <br />
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    @if (Model.HasPreviousPage)
    {
        <a asp-action="Technicians" asp-route-pageTechnicians="@(Model.PageIndex - 1)" class='@prevDisabled'>Anterior</a>
    }
    &nbsp;&nbsp;&nbsp;
    @if (Model.HasNextPage)
    {
        <a asp-action="Technicians" asp-route-pageTechnicians="@(Model.PageIndex + 1)" class='@nextDisabled'>Seguinte</a>
    }*@