@model CIMOB_IPS.Models.ViewModels.ApplicationViewModel
<script>
    var limit = 3;
    $('input.single-checkbox').on('change', function (evt) {
        if ($("input[name='institution']:checked").length > limit) {
            this.checked = false;
        }
    });
</script>

<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />
<p class="page-title">Nova Candidatura - Erasmus+</p>

<div class="main-application-container">
    <form asp-action="@ViewData["submit_form"]" method="post" class="application-form" >
        @if ((string)ViewData["app_form"] == "NewApplication")
        {
            <fieldset style="margin-top:3%">
                <legend>Candidato</legend>
                <p style="width:100%;text-align:center;">Confirme os seus dados pessoais antes de prosseguir. </p>
                <p style="width:100%;text-align:center;">Caso queira efetuar alterações, aceda ao seu perfil.</p>
                <table style="margin-left:11%">
                    <tr> <td><label asp-for="Student.Name"></label></td></tr>
                    <tr> <td><input asp-for="Student.Name" type="text" readonly class="disabled-input" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Name" class="error-message"></span></td></tr>
                    

                    <tr> <td><label asp-for="Student.Telephone"></label></td></tr>
                    <tr> <td><input asp-for="Student.Telephone" type="text" readonly class="disabled-input" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Telephone" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Account.Email"></label></td></tr>
                    <tr> <td><input asp-for="Account.Email" type="text" readonly class="disabled-input" /></td></tr>
                    <tr> <td><span asp-validation-for="Account.Email" class="error-message"></span></td></tr>

                    <!--DATA DE NASCIMENTO ? _ ?
                    <tr> <td><label asp-for="Student."></label></td></tr>
                    <tr> <td><input asp-for="Student.Email" type="text" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Email" class="error-message"></span></td></tr>
                    -->
                    <!--GÉNERO ? _ ?
                    <tr> <td><label asp-for="Student."></label></td></tr>
                    <tr> <td><input asp-for="Student.Email" type="text" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Email" class="error-message"></span></td></tr>
                    -->

                    <tr> <td><label>Nacionalidade: </label></td></tr>
                    <tr> <td> @Html.DropDownListFor(model => model.Student.IdNationality, Model.Nationalities, "-- Seleccione a Nacionalidade --", new { @disabled = "disabled" , @class = "disabled-input" })</td></tr>
                    <tr> <td><span asp-validation-for="Student.IdNationality" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.Address"></label></td></tr>
                    <tr> <td><input asp-for="Student.Address" type="text" readonly class="disabled-input" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Address" class="error-message"></span></td></tr>
                </table>
            </fieldset>

            <fieldset style="margin-top:7%;">
                <legend>Contacto em caso de emergência</legend>
                <table style="margin-left:11%">
                    <tr> <td><label asp-for="Application.EmergencyContactName"></label></td></tr>
                    <tr> <td><div class="on-focus clearfix" ><input asp-for="Application.EmergencyContactName" type="text" />
                                 <div class="tool-tip slideIn right">Insira o nome completo do contacto de emergência</div>
                         </div></td></tr>
                    <tr> <td><span asp-validation-for="Application.EmergencyContactName" class="error-message"></span></td></tr>



                    <tr> <td><label asp-for="Application.EmergencyContactRelation"></label></td></tr>
                    <tr> <td><div class="on-focus clearfix"><input asp-for="Application.EmergencyContactRelation" type="text" />
                                 <div class="tool-tip slideIn right">Insira o grau de parentesco do contacto de emergência</div>
                         </div></td></tr>
                    <tr> <td><span asp-validation-for="Application.EmergencyContactRelation" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Application.EmergencyContactTelephone"></label></td></tr>
                    <tr> <td><div class="on-focus clearfix"><input asp-for="Application.EmergencyContactTelephone" type="text" />
                        <div class="tool-tip slideIn right">Insira o número de telefone de parentesco do contacto de emergência</div>
                        </div></td></tr>
                    <tr> <td><span asp-validation-for="Application.EmergencyContactTelephone" class="error-message"></span></td></tr>
                </table>
            </fieldset>
        }
        @if ((string)ViewData["app_form"] == "NewApplication_Mob")
        {
            <fieldset>
                <legend>Dados da Mobilidade</legend>
                <table>
                    <tr>
                        <td><label asp-for="Application.HasScholarship"></label></td>
                        <td>@Html.RadioButtonFor(model => model.Application.HasScholarship, "Sim") <label> Sim</label></td>
                        <td>@Html.RadioButtonFor(model => model.Application.HasScholarship, "Não") <label> Não</label></td>
                    </tr>
                </table>
                <table style="width:100%;">
                    <tr></tr>
                    <tr><td><label>Indique as 3 instituições a que se candidata.</label></td></tr>
                    <tr><td><label style="margin-left:5%;font-weight:600;font-size:1vmax">Atenção: A ordem das instituições atribui uma ordem de preferência.</label> </td></tr>
                    <tr><td>
                    <div style="margin-left:30%;margin-top:5%;">
                      <span>Instituições Disponíveis</span><br />
                      @foreach (var inst in Model.Institutions)
                      {
                         <br /><input type="checkbox" class="single-checkbox" name="institution" value="@inst.IdInstitution" /> <a href="asdasdasd" target="_blank" >@inst.Name</a>@*LINKS PARA AS INSTITUIÇOES*@
                      }  
                    
                    </div>
                        
                        </td></tr>                   
                </table>
            </fieldset>
        }

        @if ((string)ViewData["app_form"] == "NewApplication_Motiv")
        {
            <fieldset>
                <legend>Carta de Motivação</legend>
                <p style="width:100%;text-align:center;">Indique as suas motivações para participar no Programa de Mobilidade</p>
                <p style="width:100%;text-align:center;">Este é um dos elementos de avaliação da sua candidatura</p>
                <table>
                    <tr><td><textarea asp-for="Application.MotivationCard" style="resize:none;" cols="75" rows="35"></textarea></td></tr>
                    <tr> <td><span asp-validation-for="Application.MotivationCard" class="error-message"></span></td></tr>
                </table>
            </fieldset>
        }


        @if ((string)ViewData["app_form"] == "NewApplication")
        {
            <div class="application-form-pager">
                <input type="submit" style="width:2vw; background-color:var(--blue-var4);" value="1">
                <input type="submit" style="width:2vw;" value="2">
                <input type="submit" style="width:2vw;" value="3" disabled="disabled">
                <input type="submit" value="Seguinte >">
            </div>
        }

        @if ((string)ViewData["app_form"] == "NewApplication_Mob")
        {
            <div class="application-form-pager" style="margin-left:45.5%;">
                @*<input type="submit" value="< Anterior">*@
                @Html.ActionLink("< Anterior", "Application", "New", Model, null)
                <input type="submit" style="width:2vw" value="1">
                <input type="submit" style="width:2vw;background-color:var(--blue-var4);" value="2">
                <input type="submit" style="width:2vw;" value="3">
                <input type="submit" value="Seguinte >">
            </div>
        }

        @if ((string)ViewData["app_form"] == "NewApplication_Motiv")
        {
            <div class="application-form-pager" style="margin-left:46.1%;">
                @*<input type="submit" value="< Anterior">*@
                @Html.ActionLink("< Anterior", "Application", "New", Model, null)
                <input type="submit" style="width:2vw" value="1">
                <input type="submit" style="width:2vw;" value="2">
                <input type="submit" style="width:2vw;background-color:var(--blue-var4);" value="3">
                <input type="submit" value="Submeter">
            </div>
        }
    </form>
</div>

