@model CIMOB_IPS.Models.ProfileViewModel
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />
<form asp-action="UpdateProfileTechnician" method="post" class="user-form" enctype="multipart/form-data">
    <table>
        @Html.HiddenFor(model => Model.Technician.IdAccount)
        @Html.HiddenFor(model => Model.Technician.Name)
        <tr>
            <td>
                <img id="edit-image-preview" src="@Model.Technician.IdAccountNavigation.AvatarUrl" class="profile-image" style="width:9.5vw; height:9.5vw;margin-left:28%;" draggable="false" />
            </td>
        </tr>

        <tr>
            <td>
                <input type="file" name="avatar_technician" title="Alterar foto de perfil" accept="image/*"   value="Alterar foto de perfil" style="font-size:1.1vw;margin-bottom:5%;" onchange="preview_image(event)">
            </td>
        </tr>

        <tr> <td><label asp-for="Technician.Telephone"></label></td></tr>
        <tr> <td><input asp-for="Technician.Telephone" type="text" />   </td></tr>
        <tr> <td><span asp-validation-for="Technician.Telephone" class="error-message"></span></td></tr>

        <tr>
            <td>
                <input style="margin-left: 1%; width: 45%;" type="submit" value="Guardar" />
                <input onclick="location.href='@Url.Action("Index", "Profile")'" id="cancelButton" type="button" value="Cancelar" />
            </td>
        </tr>
    </table> 
</form>