@model CIMOB_IPS.Models.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<p id="title">Perfil</p>

<div class="profile">
    <button type="button" onclick="location.href='@Url.Action("Edit", "Profile")'">Editar Perfil</button>
    <div class="profileImage">
        <img id="img" src="~/images/user1.png" width="130" height="130" />
    </div>
    <table class="information">
        @if(Model.AccountType == EnumAccountType.STUDENT)
        {
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.Name)</td>
                    <td>@Html.DisplayFor(model => model.Student.Name)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.IdNationality)</td>
                    <td>@Html.DisplayFor(model => model.Student.IdNationalityNavigation.Description)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.IdCourseNavigation)</td>
                    <td>@Html.DisplayFor(model => model.Student.IdCourseNavigation.Name)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.IdAccountNavigation.Email)</td>
                    <td>@Html.DisplayFor(model => model.Student.IdAccountNavigation.Email)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.Telephone)</td>
                    <td>@Html.DisplayFor(model => model.Student.Telephone)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.Address)</td>
                    <td>@Html.DisplayFor(model => model.Student.Address)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.Credits)</td>
                    <td>@Html.DisplayFor(model => model.Student.Credits)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.Cc)</td>
                    <td>@Html.DisplayFor(model => model.Student.Cc)</td>
                </tr>
                <tr>
                    <td class="profileLabel">@Html.DisplayNameFor(model => model.Student.StudentNum)</td>
                    <td>@Html.DisplayFor(model => model.Student.StudentNum)</td>
                </tr>
                <!-- Ter??
                <tr>
                    <td><p>Bolsa: </p></td>
                    <td></td>
                </tr>
                <tr>
                    <td><p>Tipo de Mobilidade Atual: </p></td>
                    <td></td>
                </tr>
                    -->
        }
        else
        {
            <tr>
                <td class="profileLabel">@Html.DisplayNameFor(model =>model.Technician.Name)</td>
                <td>@Html.DisplayFor(model =>model.Technician.Name)</td>
            </tr>
            <tr>
                <td class="profileLabel">@Html.DisplayNameFor(model =>model.Technician.IdAccountNavigation.Email)</td>
                <td>@Html.DisplayFor(model =>model.Technician.IdAccountNavigation.Email)</td>
            </tr>
            <tr>
                <td class="profileLabel">@Html.DisplayNameFor(model =>model.Technician.Telephone)</td>
                <td>@Html.DisplayFor(model =>model.Technician.Telephone)</td>
            </tr>

        }
    </table>
</div>