@model CIMOB_IPS.Models.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<p id="title">Perfil</p>

<div class="profile">
    <button type="button" onclick="location.href='@Url.Action("Edit", "Profile")'">Editar Perfil</button>
    <div class="profileImage">
        <img id="img" src="~/images/user1.png" width="130" height="130" />
    </div>
    <table class="information">
        @if(Model.AccountType == EnumAccountType.STUDENT)
        {
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).Name)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).IdNationality)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).IdNationalityNavigation.Description)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).IdCourseNavigation)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).IdCourseNavigation.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).IdAccountNavigation.Email)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).IdAccountNavigation.Email)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).Telephone)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).Telephone)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).Credits)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).Credits)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).Cc)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).Cc)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => ((Student)Model.Account).StudentNum)</td>
                    <td>@Html.DisplayFor(model => ((Student)Model.Account).StudentNum)</td>
                </tr>
                <!-- Ter??
                <tr>
                    <td><p>Bolsa: </p></td>
                    <td></td>
                </tr>
                <tr>
                    <td><p>Tipo de Mobilidade Atual: </p></td>
                    <td></td>
                </tr>
                    -->
        }
        else
        {
            <tr>
                <td>@Html.DisplayNameFor(model => ((Technician)Model.Account).Name)</td>
                <td>@Html.DisplayFor(model => ((Technician)Model.Account).Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => ((Technician)Model.Account).IdAccountNavigation.Email)</td>
                <td>@Html.DisplayFor(model => ((Technician)Model.Account).IdAccountNavigation.Email)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => ((Technician)Model.Account).Telephone)</td>
                <td>@Html.DisplayFor(model => ((Technician)Model.Account).Telephone)</td>
            </tr>

        }
    </table>
</div>