@model CIMOB_IPS.Models.Program

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">@Html.DisplayFor(model => model.IdProgramTypeNavigation.Name)</h2>

<div class="profile">
    <p>@Html.DisplayFor(model => model.IdProgramTypeNavigation.Description)</p>
    <br />
    <p>As candidaturas abrirão dia @Html.DisplayFor(model => model.OpenDate) às 00:00h.</p>
    <p>As candidaturas encerrarão dia @Html.DisplayFor(model => model.ClosingDate) às 23:59h.</p>
    <p>@Html.DisplayNameFor(model => model.IdStateNavigation): @Html.DisplayFor(model => model.IdStateNavigation.Description)</p>
    
    @if (Model.InstitutionProgram.Count > 0)
    {
        <p>@Html.DisplayNameFor(model => model.InstitutionProgram)</p>
        <ul>
            @foreach (var item in Model.InstitutionProgram)
            {
                <li>@item.IdOutgoingInstitutionNavigation.Name (@item.IdOutgoingInstitutionNavigation.IdNationalityNavigation.Description)</li>
            }
        </ul>
    }
    else
    {
        <p>Sem informações sobre as instituições associadas ao programa!</p>
    }

    @if(!User.Identity.IsAuthenticated && Model.IdStateNavigation.Description == "Aberto")
    {
        <p>Caso desejar candidatar-se ao presente programa, <a href="@Url.Action("Login", "Account")">autentique-se</a>.</p>
    }
    else if (Model.IdStateNavigation.Description == "Aberto" && Model.Vacancies > 0)
    {
        <p>@Html.DisplayNameFor(model => model.Vacancies): @Html.DisplayFor(model => model.Vacancies)</p>
        <input type="button" value="Efectuar Candidatura" onclick="location.href='@Url.Action("New", "Application" , new {appId = Model.IdProgram})'" />
    }
    else if (Model.IdStateNavigation.Description == "Aberto")
    {
        <p>@Html.DisplayNameFor(model => model.Vacancies): @Html.DisplayFor(model => model.Vacancies)</p>
        <p>Programa sem vagas disponíveis! Tente mais tarde ou consulte <a href="@Url.Action("Index", "Program")">outros programas</a>.</p>
    }
    else
    {
        <p>Programa encerrado! Consulte <a href="@Url.Action("Index", "Program")">outros programas</a>.</p>
    }

</div>