@model IEnumerable<CIMOB_IPS.Models.Program>

@{
    ViewData["Title"] = "ChooseProgram";
}

<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />
<div class="TitleDiv"> <img draggable="false" src="~/images/bannerPrincipal.jpg" /> </div>

<div class="programs-display">

    @foreach (var item in Model)
    {
        <h4>@Html.DisplayNameFor(model => item.Name) @Html.DisplayFor(model => item.Name)</h4>
        <p><b>@Html.DisplayNameFor(modelItem => item.IdStateNavigation): </b>@Html.DisplayFor(modelItem => item.IdStateNavigation.Description)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.OpenDate): </b>@Html.DisplayFor(modelItem => item.OpenDate)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.ClosingDate): </b>@Html.DisplayFor(modelItem => item.ClosingDate)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.MobilityDate): </b>@Html.DisplayFor(modelItem => item.MobilityDate)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.Vacancies): </b>@Html.DisplayFor(modelItem => item.Vacancies)</p>
    }

    <!--

    <table>
        <tr>
            <td>
                <img draggable="false" src="~/images/Erasmus-logo1.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>

        </tr>
        <tr>
            <td>
                <img draggable="false" src="~/images/bannerLuso.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>
        </tr>
        <tr>
            <td>
                <img draggable="false" src="~/images/bannerIbero.jpg" />

            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>
        </tr>
        <tr>
            <td>
                <img draggable="false" src="~/images/logo-macaopoly.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>
        </tr>
        <tr>
            <td>
                <img draggable="false" src="~/images/vasco-logo.jpg" />
            </td>
            <td>
                <div> Meu puto tens aqui umas merdas e vagas</div>
                <button asp-controller="Application" asp-action="New">Candidatar-me</button>
            </td>
        </tr>
    </table>

        -->
</div>