@model IEnumerable<CIMOB_IPS.Models.Program>


<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />
<div class="TitleDiv"> <img draggable="false" src="~/images/bannerPrincipal.jpg" /> </div>

<div class="programs-display">

    <table style="width:60%; background-color:transparent">
        <tr>
            <td>
                <table style="width:25%; margin-left:0%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/Erasmus-logo1.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-area="" onclick="javascript:$('#erasmus-programs').toggle(250)">Programas Disponíveis</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="erasmus-programs" style="display:none">
                                @foreach (var item in Model)
                                {
                                    if (item.IdProgramTypeNavigation.Name.Equals("Erasmus+"))
                                    {
                                        <div class="program-info">
                                            <p>Data de Abertura: @Html.DisplayFor(i => item.OpenDate)</p>
                                            <p>Data de Fecho: @Html.DisplayFor(i => item.ClosingDate)</p>
                                            <p>Vagas: @Html.DisplayFor(i => item.Vacancies) </p>
                                            <div id="btn-program" >
                                                @if (!(User.IsInRole("tecnico") || User.IsInRole("tecnico_admin")))
                                                {
                                                    <button asp-area="" asp-controller="Application" asp-action="New" class="btn-program-actions">Candidatura</button>
                                                }
                                                <button asp-area="" asp-controller="Application" class="btn-program-actions">+ INFO</button>
                                            </div>
                                        </div>

                                    }

                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <table style="width:25%; margin-left:15%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/bannerLuso.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-area="" onclick="javascript:$('#lusoBrasileiras-programs').toggle(250)">Programas Disponíveis</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="lusoBrasileiras-programs" style="display:none">
                                @foreach (var item in Model)
                                {
                                    if (item.IdProgramTypeNavigation.Name.Equals("Programa de Bolsas Luso-Brasileiras"))
                                    {
                                        @if (!(User.IsInRole("tecnico") || User.IsInRole("tecnico_admin")))
                                        {
                                            <div>
                                                <p>Data de Abertura: @Html.DisplayFor(i => item.OpenDate)</p>
                                                <p>Data de Fecho: @Html.DisplayFor(i => item.ClosingDate)</p>
                                                <p>Vagas: @Html.DisplayFor(i => item.Vacancies) </p>
                                                <div id="btn-program">
                                                    @if (!(User.IsInRole("tecnico") || User.IsInRole("tecnico_admin")))
                                                    {
                                                        <button asp-area="" asp-controller="Application" asp-action="New" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">Candidatura</button>
                                                    }
                                                    <button asp-area="" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">+ INFO</button>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table style="width:25%; margin-left:0%;margin-top:15%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/bannerIbero.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-area="" onclick="javascript:$('#ibero-Americanas-programs').toggle(250)">Programas Disponíveis</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="ibero-Americanas-programs" style="display:none">
                                @foreach (var item in Model)
                                {
                                    if (item.IdProgramTypeNavigation.Name.Equals("Programa de Bolsas Ibero-Americanas"))
                                    { @if (!User.IsInRole("tecnico") || !User.IsInRole("tecnico_admin"))
                                    {
                                        <div>
                                            <p>Data de Abertura: @Html.DisplayFor(i => item.OpenDate)</p>
                                            <p>Data de Fecho: @Html.DisplayFor(i => item.ClosingDate)</p>
                                            <p>Vagas: @Html.DisplayFor(i => item.Vacancies) </p>
                                            <div id="btn-program">
                                                @if (!(User.IsInRole("tecnico") || User.IsInRole("tecnico_admin")))
                                                {
                                                    <button asp-area="" asp-controller="Application" asp-action="New" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">Candidatura</button>
                                                }
                                                <button asp-area="" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">+ INFO</button>
                                            </div>
                                        </div>
                                    }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <table style="width:25%; margin-left:15%;margin-top:15%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/vasco-logo.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-area="" onclick="javascript:$('#vascoGama-programs').toggle(250)">Programas Disponíveis</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="vascoGama-programs" style="display:none">
                                @foreach (var item in Model)
                                {
                                    if (item.IdProgramTypeNavigation.Name.Equals("Programa Vasco da Gama"))
                                    {
                                        @if (!User.IsInRole("tecnico") || !User.IsInRole("tecnico_admin"))
                                        {
                                            <div>
                                                <p>Data de Abertura: @Html.DisplayFor(i => item.OpenDate)</p>
                                                <p>Data de Fecho: @Html.DisplayFor(i => item.ClosingDate)</p>
                                                <p>Vagas: @Html.DisplayFor(i => item.Vacancies) </p>
                                                <div id="btn-program">
                                                    @if (!(User.IsInRole("tecnico") || User.IsInRole("tecnico_admin")))
                                                    {
                                                        <button asp-area="" asp-controller="Application" asp-action="New" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">Candidatura</button>
                                                    }
                                                    <button asp-area="" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">+ INFO</button>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:25%;margin-top:15%">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/logo-macaopoly.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-area="" onclick="javascript:$('#macau-programs').toggle(250)">Programas Disponíveis</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="macau-programs" style="display:none">
                                @foreach (var item in Model)
                                {
                                    if (item.IdProgramTypeNavigation.Name.Equals("Programa Instituto Politécnico de Macau"))
                                    {
                                        @if (!User.IsInRole("tecnico") || !User.IsInRole("tecnico_admin"))
                                        {
                                            <div>
                                                <p>Data de Abertura: @Html.DisplayFor(i => item.OpenDate)</p>
                                                <p>Data de Fecho: @Html.DisplayFor(i => item.ClosingDate)</p>
                                                <p>Vagas: @Html.DisplayFor(i => item.Vacancies) </p>
                                                <div id="btn-program">
                                                    @if (!(User.IsInRole("tecnico") || User.IsInRole("tecnico_admin")))
                                                    {
                                                        <button asp-area="" asp-controller="Application" asp-action="New" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">Candidatura</button>
                                                    }
                                                    <button asp-area="" class="btn-program-actions" onclick="location.href='@Url.Action("Details", "Program", new { programID = item.IdProgram })'">+ INFO</button>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>