@model IEnumerable<CIMOB_IPS.Models.Program>

@{
    ViewData["Title"] = "ChooseProgram";
}

<link rel="stylesheet" href='@Url.Content("~/css/program.css")' />
<div class="TitleDiv"> <img draggable="false" src="~/images/bannerPrincipal.jpg" /> </div>

<div class="programs-display">

    @*
    @foreach (var item in Model)
    {
        <h4>@Html.DisplayNameFor(model => item.IdProgramTypeNavigation) @Html.DisplayFor(model => item.IdProgramTypeNavigation.Name)</h4>
        <p><b>@Html.DisplayNameFor(modelItem => item.IdStateNavigation): </b>@Html.DisplayFor(modelItem => item.IdStateNavigation.Description)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.OpenDate): </b>@Html.DisplayFor(modelItem => item.OpenDate)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.ClosingDate): </b>@Html.DisplayFor(modelItem => item.ClosingDate)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.MobilityDate): </b>@Html.DisplayFor(modelItem => item.MobilityDate)</p>
        <p><b>@Html.DisplayNameFor(modelItem => item.Vacancies): </b>@Html.DisplayFor(modelItem => item.Vacancies)</p>
    }
    *@


    <table style="width:60%; background-color:transparent">
        <tr>
            <td>
                <table style="width:25%; margin-left:0%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/Erasmus-logo1.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-controller="Application" asp-action="New">Mais Informações</button>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <table style="width:25%; margin-left:15%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/bannerLuso.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-controller="Application" asp-action="New">Mais Informações</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table style="width:25%; margin-left:0%;margin-top:15%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/bannerIbero.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-controller="Application" asp-action="New">Mais Informações</button>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                <table style="width:25%; margin-left:15%;margin-top:15%;">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/vasco-logo.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-controller="Application" asp-action="New">Mais Informações</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:25%;margin-top:15%">
                    <tr>
                        <td>
                            <img draggable="false" src="~/images/logo-macaopoly.jpg" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <button asp-controller="Application" asp-action="New">Mais Informações</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>