@model CIMOB_IPS.Models.ViewModels.ContactsViewModel

@{
    ViewData["Title"] = "Contactos";

    var orderedCoordenators = Model.Coordenators.OrderBy(c => c.IdCourseNavigation.Name);
    var orderedTechnicians = Model.Technicians.OrderBy(t => t.Name);
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Coordenadores de curso</h2>

<div class="main-container-pendingtech">
    @foreach(var item in orderedCoordenators)
    {
        <p>
            <img src="~/images/course.png" /> @item.IdCourseNavigation.Name 
            <img src="~/images/name.png" /> @item.Name 
            <img src="~/images/email.png" /> @item.Email
            @if(item.Telephone != null)
            {
                <img src = "~/images/telephone.png" /> @item.Telephone 
            }
        </p>
    }
</div>

<h2 class="page-title" style="margin-top:2%;">Técnicos do CIMOB</h2>

<div class="main-container-pendingtech">
    @foreach (var item in orderedTechnicians)
    {
        <p>
            <img src="~/images/name.png" /> @item.Name
            <img src="~/images/email.png" /> @item.IdAccountNavigation.Email
            <img src="~/images/telephone.png" /> @item.Telephone
        </p>
    }
</div>