@model CIMOB_IPS.Models.ViewModels.ContactsViewModel

@{
    ViewData["Title"] = "Contactos";

    var orderedCoordenators = Model.Coordenators.OrderBy(c => c.IdCourseNavigation.Name);
    var orderedTechnicians = Model.Technicians.OrderBy(t => t.Name);
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />


<h2 class="page-title">Coordenadores de curso</h2>

<div class="main-container-pendingtech">
    @foreach(var item in orderedCoordenators)
    {
        <p>
            <img src="~/images/course.png" class="icon-img" /> @Html.DisplayFor(model => item.IdCourseNavigation.Name)
            <img src="~/images/name.png" class="icon-img" /> @Html.DisplayFor(model => item.Name)
            <img src="~/images/email.png" class="icon-img" /> @Html.DisplayFor(model => item.Email)
            @if (item.Telephone != null)
            {
                <img src="~/images/telephone.png" class="icon-img" /> @Html.DisplayFor(model => item.Telephone)
            }
        </p>
    }
</div>

<h2 class="page-title">Técnicos do CIMOB</h2>

<div class="main-container-pendingtech">
    @foreach (var item in orderedTechnicians)
    {
        <p>
            <img src="~/images/name.png" class="icon-img" /> @Html.DisplayFor(model => item.Name)
            <img src="~/images/email.png" class="icon-img" /> @Html.DisplayFor(model => item.IdAccountNavigation.Email)
            <img src="~/images/telephone.png" class="icon-img" /> @Html.DisplayFor(model => item.Telephone) 
        </p>
    }
</div>