@model CIMOB_IPS.Models.Application

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/site.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/application.css")' />

<div class="main-application-container" style="width:100%;z-index:999;">
    <div style="margin-left:2.5%;padding:1%;">

        <p><b>@Html.DisplayNameFor(modelItem => Model.ApplicationDate): </b>@Html.DisplayFor(modelItem => Model.ApplicationDate)</p>
        <p><b>@Html.DisplayNameFor(model => model.ApplicationInstitutions)</b></p>
        <ul class="myApp-institutions">
            @foreach (var institution in Model.ApplicationInstitutions)
            {
                <li>
                    @Html.DisplayFor(modelItem => institution.IdInstitutionNavigation.Name)
                </li>
            }
        </ul>

        <p><b>@Html.DisplayNameFor(modelItem => Model.IdStateNavigation): </b>@Html.DisplayFor(modelItem => Model.IdStateNavigation.Description)</p>

        @if (Model.HasScholarship)
        {
            <p><b>@Html.DisplayNameFor(modelItem => Model.HasScholarship): </b>Sim</p>
        }
        else
        {
            <p><b>@Html.DisplayNameFor(modelItem => Model.HasScholarship): </b>Não</p>
        }

        @if (Model.IdStateNavigation.Description != "Em Avaliação")
        {
            <p><b>@Html.DisplayNameFor(model => model.FinalEvaluation):</b> @Html.DisplayFor(modelItem => Model.FinalEvaluation)</p>
        }

        <p>
            <span id="motivationCard-title">
                <b>@Html.DisplayNameFor(model => model.MotivationCard)</b>
            </span>
        </p>
        <div id="motivationCard" style="width:90%;">
            @Html.DisplayFor(modelItem => Model.MotivationCard)
        </div>
        @if (Model.SignedAppFile != null)
        {
            <div style="padding-top:5%;">
                <a class="hyperlink" asp-action="OpenSignedAppFile" asp-route-fileId=@Model.IdApplication>Ver Comprovativo de Candidatura</a>
            </div>
        }
        <br />
    </div>
</div>