<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIMOB-IPS</title>

        <link rel="stylesheet" href='@Url.Content("~/css/site.css")'/>
        <link rel="shortcut icon" type="image/png" href="~/images/icons/favicon.png" />
</head>
<body>
    <nav>
        @Html.Partial("SessionBar")
        <div class="navbar-menu">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">Programa</a></li>

                @if (User.Identity.IsAuthenticated)
                {

                    @if (User.IsInRole("estudante"))
                    {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Candidatura</a>
                        <ul class="sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">OPÇÃO 1</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">OPÇÃO 2</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">OPÇÃO 3</a></li>
                            <li></li>
                        </ul>
                    </li>
                    }
                    @if (User.IsInRole("tecnico") || User.IsInRole("tecnico_admin"))
                    {
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Listagens</a>
                        <ul class="sub-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Candidaturas</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Mobilidades</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">Emergências</a></li>
                            <li></li>
                        </ul>
                    </li>
                    }
                }

                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contactos</a></li>
            </ul>

      
            @if (User.Identity.IsAuthenticated)
            {    <img class="option-button" id="help" src="~/images/icons/002-question-mark.png" onclick="javascript: toogleHelp();" />
                 <img class="option-button" id="notifications" src="~/images/icons/001-notifications-button.png" onclick="javascript: toogleNotifications();" />
                 <img class="option-button" id="options" src="~/images/icons/003-settings-work-tool.png" onclick="javascript: toogleSettings();" />
            }
            else
            {
                <img class="option-button" id="help" style="margin-right: 1vw;" src="~/images/icons/002-question-mark.png" onclick="javascript: toogleHelp();" />
            }
        </div>

        <div class="menu-settings" id="submenu-settings">
            <ul>  
                <li> <a asp-area="" asp-controller="Profile" asp-action="Index">Perfil</a> </li>     
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Alterar-palavra-passe</a></li>
                @if (User.IsInRole("tecnico") || User.IsInRole("tecnico_admin"))
                {
                    <li> <a asp-area="" asp-controller="User" asp-action="Tecnicos">Técnicos</a></li>
                }
                <li> <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a></li>           
            </ul>
        </div>

        <div class="notifications" id="submenu-notifications">
            <ul>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">SAMONASTANASTANASTaaI</a> </li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Candidatura submetida a 16/11/2017</a> </li>
            </ul>
        </div>
    </nav>
    <div id="fade-background" onclick="javascript: toogleHelp();"></div>
    <img id="help-close" src="~/images/icons/error.png" onclick="javascript: toogleHelp();" />   
    <div id="help-content">
        <!--PARTIAL VIEW-->
    </div>


    <div class="body-panel" onclick="javascript: hideMenus();">
        <img style="position:fixed; margin-left:83.5vw;margin-top:74vh;width:15vmax; height:4.5vmax; opacity:0.7;" src="~/images/cimobips.png" />
        @RenderBody()
    </div>
        <footer>
            <p>&copy; @DateTime.Now.Year &nbsp; CIMOB - Instituto Politécnico de Setúbal</p>         
        </footer>
    @RenderSection("Scripts", required: false)

    
</body>
</html>
