@model PaginatedList<CIMOB_IPS.Models.PendingAccount>

<div class="main-container-pendingtech">
    <table style="margin: 0 auto;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().IsAdmin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Guid)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:var(--blue-var2)">
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.IsAdmin)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Guid)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "" ;
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    @if (Model.HasPreviousPage)
    {
         <a asp-action="Technicians" asp-route-pagePending="@(Model.PageIndex - 1)" id='@prevDisabled' class="arrow-left"></a>
    }
    <b>Página @Model.PageIndex de @Model.TotalPages</b>
    @if (Model.HasNextPage)
    {
         <a asp-action="Technicians" asp-route-pagePending="@(Model.PageIndex + 1)" id='@nextDisabled' class="arrow-right"></a>   
    }
</div>