@model CIMOB_IPS.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h2 class="page-title-login">Autenticar</h2>
<div class="main-container-login">
    <form asp-action="Login" method="post" class="login-form">
        <table>
            <tr>
                <td><label asp-for="Email" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Email" placeholder="exemplo@dominio.com" value="@ViewData["initial-email"]"/></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Email" class="error-message"></span></td>
            </tr>
            <tr>
                <td><label asp-for="Password" class="login-formlabel"></label></td>
            </tr>
            <tr>
                <td><input asp-for="Password" id="input-pw" placeholder="***************" /></td>
            </tr>
            <tr>
                <td><span asp-validation-for="Password" class="error-message"></span></td>
            </tr>
            <tr>
            </tr>
            <tr></tr><tr></tr><tr></tr>
            <tr>
                <td><span class="error-message">@ViewData["Login-Message"]</span></td>
            </tr>
        </table>    
        <table>
            <tr>
                <td>
                    <div class="remember-me">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>
                    </div>
                </td>
                <td>
                    <input type="submit" value="Autenticar" class="submitButton" />
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td><a style="cursor:pointer;" id="fyp-link" onclick="javascript: tooglefyp();">Esqueceu-se da palavra-passe?</a></td>
            </tr>
        </table>
    </form>
</div>


<div class="main-container-fyp" id="fyp" style="display: @ViewData["fyp-initial-display"]">
    <img id="fyp-close" src="~/images/icons/error.png" onclick="javascript: tooglefyp();" />
    <form asp-action="ForgotYourPassword" class="fyp-form">
        <table>
            <tr>
                <td><label class="fyp-formlabel" for="email" > <b>Recuperação de senha</b></label></td>
            </tr>
            <tr>
                <td><label class="fyp-formlabel" for="email" id="fyp-emailbox"> Email:</label></td>
            </tr>
            <tr>
                <td><input type="email" name="email" id="email-fyp" required placeholder="exemplo@dominio.com" value="@ViewData["initial-email-fyp"]" /></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <div class="form-error">
            <label id="fyp-message">@ViewData["FYP-Message-Error"]</label>
            <label id="fyp-error" style="color:green">@Html.Raw(ViewData["FYP-Message"])</label>
        </div>
        <input type="submit" value="Enviar" class="submitButton" />
    </form>
</div>