@model CIMOB_IPS.Models.RegisterViewModel;

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="register-title">Registo</h2>
@if (ViewData["register-type"].ToString() == "student-preregister")
{
    <div class="main-container-pre-register" style="display:@ViewData["pre-register-display"]">
            <form asp-action="PreRegister" method="post" class="pre-register-form">
                <table>
                    <tr><td><label asp-for="Student.StudentNum"></label></td></tr>
                    <tr><td><input asp-for="Student.StudentNum" placeholder="Número de Estudante" /></td></tr>
                    <tr><td><span asp-validation-for="Student.StudentNum" class="error-message"></span></td></tr>
                    <tr><td><span id="pre-register-message">@Html.Raw(ViewData["message"])</span><span id="pre-register-message-error">@ViewData["error-message"]</span><input type="submit" value="Enviar" /></td></tr>
                </table>
            </form>
    </div>
}

@if (ViewData["register-type"].ToString() == "student-register")
{
    <div class="main-container-register" style="display:@ViewData["register-display"]">
        <div>
            <form asp-action="RegisterStudent" method="post" class="user-form">
                <table>
                    <tr> <td><label asp-for="Account.Email"></label></td></tr>
                    <tr> <td><input asp-for="Account.Email" disabled value="@ViewData["student-email"]" type="text"/></td></tr>
                    <tr> <td><span asp-validation-for="Account.Email" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.StudentNum"></label></td></tr>
                    <tr> <td><input asp-for="Student.StudentNum" value="@ViewData["student-number"]" type="text" disabled/></td></tr>
                    <tr> <td><span asp-validation-for="Student.StudentNum" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.Name"></label></td></tr>
                    <tr> <td><input asp-for="Student.Name" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Name" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Account.Password"></label></td></tr>
                    <tr> <td><input asp-for="Account.Password" type="password" /></td></tr>
                    <tr> <td><span asp-validation-for="Account.Password" class="error-message"></span></td><tr>

                    <tr> <td><label asp-for="Account.ConfirmPassword"></label></td></tr>
                    <tr> <td><input asp-for="Account.ConfirmPassword" type="password" /></td></tr>
                    <tr> <td><span asp-validation-for="Account.ConfirmPassword" class="error-message"></span></td><tr>

                    <tr> <td><label asp-for="Student.Cc"></label></td></tr>
                    <tr> <td><input asp-for="Student.Cc" type="text" style="width: 15vw;"/></td></tr>
                    <tr> <td><span asp-validation-for="Student.Cc" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.Telephone"></label></td></tr>
                    <tr> <td><input asp-for="Student.Telephone" type="text" style="width: 15vw;"/></td></tr>
                    <tr> <td><span asp-validation-for="Student.Telephone" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.Address"></label></td></tr>
                    <tr> <td><input asp-for="Student.Address" /></td></tr>
                    <tr> <td><span asp-validation-for="Student.Address" class="error-message"></span></td></tr>

                    <tr> <td><label>Nacionalidade: </label></td></tr>
                    <tr> <td> @Html.DropDownListFor(model => model.Student.IdNationality, Model.Nationalities, "-- Seleccione a Nacionalidade --")</td></tr>
                    <tr> <td><span asp-validation-for="Student.IdNationality" class="error-message"></span></td></tr>

                    <tr> <td><label>Nacionalidade: </label></td></tr>
                    <tr> <td><span asp-validation-for="Student.IdNationality" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.IdCourse"></label></td></tr>
                    <tr> <td><select asp-for="Student.IdCourse" asp-items="ViewBag.IdCourse"><option value=1>Licenciatura em Engenharia Informática</option></select></td></tr>
                    <tr> <td><span asp-validation-for="Student.IdCourse" class="text-danger"></span></td></tr>

                    <tr> <td><label asp-for="Student.Credits"></label></td></tr>
                    <tr> <td><input asp-for="Student.Credits" type="text" maxlength="3" style="width: 3vw;" /> </td></tr>
                    <tr> <td><span asp-validation-for="Student.Credits" class="error-message"></span> </td> </tr>
                    <tr> <td><input type="submit" value="Registar" /></td> </tr>
                    <tr> </tr>
                    <tr> </tr>
                    <tr> </tr>
                    <tr> </tr>
                    <tr> </tr>
                    <tr> </tr>
                </table>
            </form>
        </div>
    </div>
}

@if (ViewData["register-type"].ToString() == "technician")
{
    <div class="middleSquare">
        <h2>Registo</h2>
        <div>
            <form asp-action="RegisterTechnician" method="post">
                <table>
                    <tr> <td><label asp-for="Account.Email"></label></td></tr>
                    <tr> <td><input asp-for="Account.Email" disabled value="@ViewData["technician-email"]" type="text" /></td></tr>
                    <tr> <td><span asp-validation-for="Account.Email" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Technician.Name"></label></td></tr>
                    <tr> <td><input asp-for="Technician.Name" /></td></tr>
                    <tr> <td><span asp-validation-for="Technician.Name" class="text-danger"></span></td></tr>

                    <tr> <td><label asp-for="Technician.Telephone"></label></td></tr>
                    <tr> <td><input asp-for="Technician.Telephone" type="text" /></td></tr>
                    <tr> <td><span asp-validation-for="Technician.Telephone" class="text-danger"></span></td></tr>

                    <tr> <td></td></tr>
                    <tr> <td></td></tr>
                    <tr> <td><input type="submit" value="Registar" /></td></tr>
                </table>
            </form>
        </div>
    </div>
}
@section Scripts {
      @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }


