@model CIMOB_IPS.Models.RegisterViewModel;

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />
<link rel="stylesheet" href='@Url.Content("~/css/toolTips.css")' />

<h2 class="register-title">Registo</h2>
@if (ViewData["register-type"].ToString() == "student-preregister")
{
    <div class="main-container-pre-register" style="display:@ViewData["pre-register-display"]">
        <form asp-action="PreRegister" method="post" class="pre-register-form">
            <table>
                <tr><td><label asp-for="Student.StudentNum"></label></td></tr>
                <tr><td><input asp-for="Student.StudentNum" placeholder="Número de Estudante" /></td></tr>
                <tr><td><span asp-validation-for="Student.StudentNum" class="error-message"></span></td></tr>
                <tr>
                    <td>
                        <span id="pre-register-message">@Html.Raw(ViewData["message"])</span><span id="pre-register-message-error">@ViewData["error-message"]</span>
                        <input type="submit" value="Enviar" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
}

@if (ViewData["register-type"].ToString() == "student-register")
{
    <div class="main-container-register" style="display:@ViewData["register-display"]">
        <div>
            <form asp-action="RegisterStudent" method="post" class="user-form">
                <table>
                    @Html.HiddenFor(model => model.RegisterGUID)
                    <tr> <td><label asp-for="EmailView"></label></td></tr>
                    <tr> <td><input asp-for="EmailView" value="@ViewData["student-email"]" type="text" readonly class="disabled-input" /></td></tr>

                    <tr> <td><label asp-for="Student.StudentNum"></label></td></tr>
                    <tr> <td><input asp-for="Student.StudentNum" value="@ViewData["student-number"]" type="text" readonly class="disabled-input" /></td></tr>

                    <tr> <td><label asp-for="Student.Name"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Student.Name" />
                                <div class="tool-tip slideIn right">Insira o seu nome e apelido</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="Student.Name" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="PasswordView"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="PasswordView" />
                                <div class="tool-tip slideIn right">Insira uma password</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="PasswordView" class="error-message"></span></td>
                    <tr>

                    <tr> <td><label asp-for="ConfirmPasswordView"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="ConfirmPasswordView" />
                                <div class="tool-tip slideIn right">Confirme a password</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="ConfirmPasswordView" class="error-message"></span></td>
                    <tr>

                    <tr><td><label asp-for="Student.Gender" class="control-label"></label></td></tr>
                    <tr>
                        <td>
                            @foreach (EnumGender gender in Enum.GetValues(typeof(EnumGender)))
                            {
                                @if (gender == EnumGender.Masculino)
                                {
                                    <input asp-for="Student.Gender" type="radio" value="@gender" checked />
                                    <span style="font-size:1.1vmax">@gender</span>
                                }
                                else
                                {
                                    <input asp-for="Student.Gender" type="radio" value="@gender" />
                                    <span style="font-size:1.1vmax">@gender</span>
                                }

                            }
                        </td>
                    </tr>
                    <tr><td><span asp-validation-for="Student.Gender" class="error-message"></span></td></tr>

                    <tr><td><label asp-for="Student.BirthDate"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Student.BirthDate" />
                                <div class="tool-tip slideIn right">Insira a sua data de nascimento</div>
                            </div>
                        </td>
                    </tr>
                    <tr><td><span asp-validation-for="Student.BirthDate" class="error-message">@ViewData["BirthDateError"]</span></td></tr>

                    <tr> <td><label asp-for="Student.Cc"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Student.Cc" style="width: 15vw;" />
                                <div class="tool-tip slideIn right">Insira o número de cartão de cidadão</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="Student.Cc" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Student.Telephone"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Student.Telephone" style="width: 15vw;" />
                                <div class="tool-tip slideIn right">Insira o número de telefone</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="Student.Telephone" class="error-message"></span></td></tr>

                    <tr>
                        <td>
                            <label>Código Postal</label>
                            <img class="open-help" src="~/images/icons/002-question-mark.png" id="open-help-postal" onclick="javascript: toggleHelpPostal();" draggable="false" />
                            <div class="help-postal">
                                    Insira o código postal e os restantes campos serão automaticamente preenchidos.
                            </div>
                        </td>
                    </tr>
                    <tr> <td><input asp-for="PostalCode1" id="input-code1" type="text" style="width:4vw;" />&nbsp;<label>-</label>&nbsp;<input asp-for="PostalCode2" id="input-code2" onfocusout="javascript:adressCode()" type="text" style="width:4vw;" /></td></tr>
                    <tr><td><span asp-validation-for="PostalCode1" class="error-message"></span></td></tr>
                    <tr><td><span asp-validation-for="PostalCode2" class="error-message"></span></td></tr>

                     <tr> <td>
                              <label>Distrito</label>
                              <input id="district" type="text" style="width:8vw;" readonly class="disabled-input" />

                               <label>Concelho</label>
                              <input id="county" type="text" style="width:8vw;" readonly class="disabled-input"/></td></tr>
                    <tr></tr>

                    <tr> <td><label>Freguesia</label></tr>                   
                    <tr><td><input id="parish" type="text" style="width:100%;" readonly class="disabled-input" /></td></tr>

                    <tr> <td><label>Rua</label></tr>                   
                    <tr><td><input asp-for="Student.IdAddressNavigation.AddressDesc" id="street" type="text" style="width:100%;" /></td></tr>

                    <tr><td><label asp-for="Student.IdAddressNavigation.DoorNumber"></label></td></tr>
                    <tr><td><input asp-for="Student.IdAddressNavigation.DoorNumber" type="text" style="width:22%;" /></td></tr>

                    <tr><td><label asp-for="Student.IdAddressNavigation.Floor"></label></td></tr>
                    <tr><td><input asp-for="Student.IdAddressNavigation.Floor" type="text" style="width:22%;" /></td></tr>

                    <tr> <td><label>Nacionalidade: </label></td></tr>
                    <tr> <td> @Html.DropDownListFor(model => model.Student.IdNationality, Model.Nationalities, "-- Seleccione a Nacionalidade --")</td></tr>
                    <tr> <td><span asp-validation-for="Student.IdNationality" class="error-message"></span></td></tr>

                    <tr> <td><label>Curso: </label></td></tr>
                    <tr> <td> @Html.DropDownListFor(model => model.Student.IdCourse, Model.Courses, "-- Seleccione o Curso --")</td></tr>
                    <tr> <td><span asp-validation-for="Student.IdCourse" class="error-message"></span></td></tr>

                    <tr>
                        <td>
                            <label asp-for="Student.Credits"></label>
                            <img class="open-help" src="~/images/icons/002-question-mark.png" id="open-help-ects" onclick="javascript: toggleHelpEcts();" draggable="false" />
                            <div class="help-ects">
                                Insira os créditos obtidos até ao momento.<br />
                                Clique <a target="_blank" href="https://www.ips.pt/ips_si/legislacao_geral.ver_legislacao?p_nr=27">aqui</a> para saber mais.
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Student.Credits" type="text" maxlength="3" style="width: 3.5vw;" onkeydown="javascript: closeHelpEcts();" />
                                <div class="tool-tip slideIn right">Insira os créditos obtidos até ao momento</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="Student.Credits" class="error-message"></span> </td> </tr>
                    <tr> <td><input type="submit" value="Registar" /></td> </tr>
                </table>
            </form>
        </div>
    </div>
}

@if (ViewData["register-type"].ToString() == "technician")
{
    <div class="main-container-register">
        <div>
            <form asp-action="RegisterTechnician" method="post" class="user-form">
                <table>
                    <tr> <td><label asp-for="EmailView"></label></td></tr>
                    <tr> <td><input asp-for="EmailView" readonly value="@ViewData["technician-email"]" type="text" class="disabled-input" /></td></tr>

                    <tr> <td><label asp-for="PasswordView"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="PasswordView" />
                                <div class="tool-tip slideIn right">Insira uma password</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="PasswordView" class="error-message"></span></td>
                    <tr>

                    <tr> <td><label asp-for="ConfirmPasswordView"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="ConfirmPasswordView" />
                                <div class="tool-tip slideIn right">Confirme a password</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="ConfirmPasswordView" class="error-message"></span></td>
                    <tr>

                    <tr> <td><label asp-for="Technician.Name"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Technician.Name" />
                                <div class="tool-tip slideIn right">Insira o seu nome e apelido</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="Technician.Name" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Technician.Telephone"></label></td></tr>
                    <tr>
                        <td>
                            <div class="on-focus clearfix">
                                <input asp-for="Technician.Telephone" type="text" />
                                <div class="tool-tip slideIn right">Insira o número de telefone</div>
                            </div>
                        </td>
                    </tr>
                    <tr> <td><span asp-validation-for="Technician.Telephone" class="error-message"></span></td></tr>

                    <tr> <td><label asp-for="Technician.IsAdmin"></label></td></tr>
                    <tr> <td><input asp-for="Technician.IsAdmin" type="checkbox" readonly class="disabled-input" /></td></tr>

                    <tr> <td></td></tr>
                    <tr> <td></td></tr>
                    <tr> <td><input type="submit" value="Registar" /></td></tr>
                </table>
            </form>
        </div>
    </div>
}

