@model CIMOB_IPS.Models.ViewModels.TechnicianManagementViewModel

@{
    ViewData["Title"] = "Manage Technicians";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<div class="main-container-invite" id="invite-tech" style="display: @ViewData["invite-tech-display"]">
    <img id="invite-tech-close" src="~/images/icons/error.png" onclick="javascript: closeInviteTech();" draggable="false"/>
    <h2 class="title-invite-tech">Convidar um Técnico</h2>
    <form asp-action="InviteTec" class="invite-form" method="post">
        <table>
            <tr> <td><label asp-for="EmailView"></label></td></tr>
            <tr> <td><input asp-for="EmailView" type="text" placeholder="nome.apelido@ips.pt" id="email-invite-tech" value="@ViewData["invite-tech-email"]" /></td></tr>
            <tr> <td><span asp-validation-for="EmailView" class="error-message"></span></td></tr>
            @if (User.IsInRole("tecnico_admin"))
            {
                <tr> <td><label asp-for="IsAdmin"></label></td></tr>
                <tr> <td><input asp-for="IsAdmin" type="checkbox" id="isAdmin-invite-tech" /></td></tr>
            }
            <tr><td><span id="inviteTech-message">@Html.Raw(ViewData["message"])</span><span id="inviteTech-error">@ViewData["error-message"]</span><input type="submit" value="Enviar convite" /></td></tr>
        </table>
    </form>
</div>


@if (Model.PendingAccounts != null && Model.PendingAccounts.Count > 0)
{
    <h2 class="page-title" style="margin-top:2%;">Convites Pendentes</h2>
    <img class="add-technician" src="~/images/icons/001-plus-symbol-in-a-rounded-black-square_black.png" title="Adicionar um Técnico" onclick="javascript: openInviteTech();" draggable="false" />
    @Html.Partial("_PendingAccounts", Model.PendingAccounts)
}

@if (Model.Technicians.Count > 0)
{
    <h2 class="page-title" style="margin-top:7%;">Técnicos</h2>
    @Html.Partial("_Technicians", Model.Technicians)
}

