@model CIMOB_IPS.Models.ViewModels.TechnicianManagementViewModel

@{
    ViewData["Title"] = "Manage Technicians";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Convites Pendentes</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().IdPending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PendingAccounts)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.IdPending)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Technicians != null)
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Technicians.First().Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Technicians)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}