@model CIMOB_IPS.Models.TechnicianManagementViewModel
@{
    ViewData["Title"] = "Invite";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Convites Pendentes</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().IdPending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.PendingAccounts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.IdPending)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Technicians != null)
    {
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Technicians.First().IdAccountNavigation.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Technicians.First().Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PendingAccounts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.IdPending)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Email)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>