@model CIMOB_IPS.Models.ViewModels.TechnicianManagementViewModel

@{
    ViewData["Title"] = "Manage Technicians";
}

<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Convites Pendentes</h2>

<div style="text-align:center; margin: 0 auto; margin-top: 5%; width: 50%;">
    <table style="margin: 0 auto; margin-top: 3%;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().Guid)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PendingAccounts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Guid)
                    </td>
                </tr>   
            }
        </tbody>
    </table>
</div>

    @if (Model.Technicians != null)
    {
        <h2 class="page-title">Técnicos</h2>

        <div style="text-align:center; margin: 0 auto; margin-top: 5%; width: 50%;">
            <table style="margin: 0 auto; margin-top: 3%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Technicians.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Technicians.First().IdAccountNavigation.Email)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Technicians)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.IdAccountNavigation.Email)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
