@model CIMOB_IPS.Models.TechnicianManagementViewModel
@{
    ViewData["Title"] = "Invite";
}
<link rel="stylesheet" href='@Url.Content("~/css/registo.css")' />

<h2 class="page-title">Convites Pendentes</h2>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().IdPending)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PendingAccounts.First().Email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.PendingAccounts)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.IdPending)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="main-container-invite">
        <form asp-action="InviteTec" class="invite-form">
            <table>
                <tr> <td><label asp-for="Account.Email"></label></td></tr>
                <tr> <td><input asp-for="Account.Email" type="text" placeholder="nome.apelido@ips.pt" /></td></tr>
                <tr> <td><span asp-validation-for="Account.Email" class="error-message"></span></td></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>

                @if (User.IsInRole("tecnico_admin"))
                {
                <tr> <td><label asp-for="Technician.IsAdmin"></label></td></tr>
                <tr> <td><input asp-for="Technician.IsAdmin" /></td></tr>
                }

            </table>
            <tr><td> @ViewData["email-sent"] <input type="submit" value="Enviar convite" /></td></tr>

        </form>
    </div>

    <!--
    <div class="box-invites">





    </div>
        -->
